{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<h2 class="post-title">Cosmonauta</h2>
<br>
<p>¡Hola, {{astronauta_contexto.nombre}} {{astronauta_contexto.apellido}}!</p>
<p>Tu peso en la luna es: {{astronauta_contexto.peso_luna}} Kg</p>
<p>Tu peso en marte es: {{astronauta_contexto.peso_marte}} Kg</p>
<p>Tu ultimo viaje en nuestra super nave espacial lo hiciste en: {{astronauta_contexto.distancia_recorrida}} segundos</p>

<div class="col-lg-12 align-self-baseline">
    <p class="text-white-75 mb-5"></p>
    <a class="btn btn-primary btn-xl" href="{% url 'pagina_inicio' %}">Volver al inicio</a>
</div>

{% endblock ContenidoQueCambia %}