{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
<h5 class="post-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium delectus id obcaecati, reprehenderit itaque modi  exercitationem corporis consequatur fuga, et vitae, deserunt quidem dicta ducimus amet soluta enim omnis.</h5>
<br>
<br>
<form action="" method = "POST"> {% csrf_token %}
    <table>
        <input type="text" name = "astronauta">
    </table>
    <input type="submit" value = "Buscar">
</form>

{% endblock ContenidoQueCambia %}