{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
<h5 class="post-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium delectus id obcaecati, reprehenderit itaque modi  exercitationem corporis consequatur fuga, et vitae, deserunt quidem dicta ducimus amet soluta enim omnis.</h5>
<br>
<br>
<h4>¡Sepa su peso en la luna!</h4>
<form action="" method = "POST"> {% csrf_token %}
    <table>
        <input type="text" placeholder="Ingrese su numero de astronauta", name = "numero_astronauta">
        {{luna_formulario.as_p}}
    </table>
    <input type="submit" name="Enviar" id="">

</form>

{% endblock ContenidoQueCambia %}