{% extends "padre.html" %}
{% block ContenidoQueCambia %}
<h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
<h5 class="post-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi praesentium delectus id obcaecati, reprehenderit itaque modi  exercitationem corporis consequatur fuga, et vitae, deserunt quidem dicta ducimus amet soluta enim omnis.</h5>
<br>
<br>
<h4>¡Sepa su velocidad!</h4>
<h3>Tu velocidad es {{velocidad}}</h3>
<div class="col-lg-12 align-self-baseline">
    <p class="text-white-75 mb-5"></p>
    <a class="btn btn-primary btn-xl" href="{% url 'pagina_inicio' %}">Volver al inicio</a>
</div>

{% endblock ContenidoQueCambia %}